/* ------- COLOR GREEN -------*/
/*** COLOR #4bad7e ***/

/* ------- GLOBAL -------*/
body {
	color: #6e6e6e;
	background-color: #F6F6F6;
}
a:link, a:visited {
	color: #4bad7e;
}	
a:active, a:focus, a:hover {
	color: #ccc;
}
/* home figure static */
h1.title {
	color: #fff;
}
figcaption p {
	color: #fcfcfc;
}
/* home carousel */
.carousel-caption {
	color: #fff;
}
.carousel .item {
	background-color: #777;
}
/* ------- BUTTON ------- */
.button-custom.intro-color {
    background-color: #4bad7e;
}
/*button theme*/
.btn-theme,a.btn-theme {color:#fff;}
.btn-theme {
	background: none repeat scroll 0 0 #4bad7e;
	border: 1px solid #4bad7e;
}
.btn-theme:hover, .btn-theme:focus,.btn-theme:active  {
	background-color: #71b896;
	border-color: #71b896;
	color:#fcfcfc;
}
/* ------- MENU ------- */
.navbar-default .navbar-brand  {color:#4bad7e;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li:hover {
	color: #4bad7e;
}
.navbar-default .navbar-nav > .active > a {
	color: #4bad7e;
}
.dropdown-menu {
	border-top: 2px solid #4bad7e;
}
/* ------- TEXT ------- */
.title-focus {
	color: #4bad7e;
}
/*gallery*/
.img-overlay {
    background: none repeat scroll 0 0 #4bad7e;
}
.img-overlay .caption-centered span {
	color: #fff;
}	
/*service*/
.service-icon {
	background: #4bad7e;
	border: 1px solid #198baa;
}
.service-icon span.glyphicon {
	color: #fff;
}
/* end service */

/* ------- PAGES ------- */
/* title page */
.page-title {
	background: #21252b;
}
.page-title p {
	color: #fcfcfc;
}
.page-title.contact-title {
	border-bottom: 4px solid #ddd;
}
/*** blog ***/
/*sidebar*/
.panel-default > .panel-heading {
	background: #fff;
	color: #666;
}
.panel-default > .panel-heading i.fa {
	color: #4bada4;
}
/*categories*/
ul.sidebar li {
	border-bottom: 1px solid #eee;
}
ul.sidebar li i {
	color: #ccc;
}
ul.sidebar li.active a {
	color: #ccc;
}
/* end sidebar */
/*** end blog ***/
/* features */
.panel-primary > .panel-heading {
	background-color: #4bad7e;
    background-image: none;
}
/* end features*/

/* ------- END PAGES ------- */