/*	CSS MENU
============================*/
/*
	1.  NAVBAR 
	2.  LOGO
	3.  FIRST LEVEL
	4.  DROPDOWN
	5.  MEDIA QUERY
	- Portrait tablets and medium desktops
	- Portrait tablets and small desktops
	- Landscape phones and portrait tablets
	- Landscape phones and smaller
*/
/* 1. 	NAVBAR
============================*/
#navbar {
	z-index:10000;
	background: transparent;
	transition: all 0.5s 0.1s;
	-webkit-transition: all 0.5s 0.1s;
	-moz-transition: all 0.5s 0.1s;
	padding-top:5px;
	padding-bottom:0;
	border-bottom: 0;
}

.navbar {
	border: o solid transparent;
	margin-bottom: 0;
}
/* 2. LOGO
============================*/
.navbar-header{
	padding-top: 5px;
	text-align: center;
}
.navbar-brand {
	font-size: 32px;
    font-weight: 500;
    height: 46px;
    line-height: 40px;
    padding: 4px  0;
    position: relative;
    width: 160px;
	margin-left: 15px!important;
	border-bottom:0;
}
.navbar-brand  span{
	font-weight:400;
}
/* 3. FIRST LEVEL
============================*/
.navbar-default, .navbar-default.navbar-static-top {
	background-image: none;
	background-repeat: repeat-x;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border:none;
}
.navbar-default .navbar-nav > li {
	margin:0 12px;
	transition: all 0.5s 0.1s;
	-webkit-transition: all 0.5s 0.1s;
	-moz-transition: all 0.5s 0.1s;
	padding-bottom:0;
}
.navbar-default .navbar-nav > li > a {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 6px 2px;
	font-size: 15px;
	color:#333;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus,.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li:hover {
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color:#333;
}
.navbar-default .navbar-nav > .active > a  {
	color:#333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/* 3. DROPDOWN
============================*/
.dropdown-menu {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
	background-color: #fff;
	min-width:180px;
	text-align: left;
	border-top: 2px solid #4a8fad;
	font-size: 13px;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	right: 0!important;
}
.dropdown-menu > li {
	margin-bottom: 0;
}
.dropdown-menu > li > a {
	border-bottom: 1px solid #eee;
	padding: 8px 10px;
}
.dropdown-menu > li:last-child {
	padding-bottom: 0;
}
.dropdown-menu > li:last-child a {
	margin-bottom: 0;
	border-bottom: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #4a8fad;
	background-color: transparent;
}

/* 4. MEDIA QUERY
============================*/
/* Large desktops and laptops
----------------------------*/	
@media (min-width: 1200px) {
	/*animate menu*/
	@-webkit-keyframes fadeIn { 
		0% { opacity: 0; }
		20% { opacity: 0; }
		40% { opacity: 0.3; }
		60% { opacity: 0.5; }
		80% { opacity: 0.9; }
		100% { opacity: 1; }
	}
	
	@keyframes fadeIn {
		0% { opacity: 0; }
		20% { opacity: 0; }
		40% { opacity: 0.3; }
		60% { opacity: 0.5; }
		80% { opacity: 0.9; }
		100% { opacity: 1; }
	}
	/*end animate menu*/
	#menu {
		position: absolute;
		width: 100%;
		
	}
	.navbar-default .navbar-nav > li > a {
		color:#fff;
	}
	.navbar-default .navbar-nav > .active > a  {
		color:#fff;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	/*fixed menu*/
	.fixed-menu {
		z-index: 9999;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		padding-top:0;
		padding-bottom:0;
		background-color:#fff!important;
	}
	.fixed-menu:after {
		left: 0;
		top: 100%;
		content: '';
		width: 100%;
		height: 42px;
		position: absolute;
		background: url(../images/header-shadow.png) no-repeat;
		background-position: center bottom;
	}
	.fixed-menu .navbar-nav > li > a {
		color:#333;
	}
	.fixed-menu .subtitle { 
		color:#999;
	}
	.fixed-menu .navbar-brand  span{
		color:#666;
	}
	/* logo*/
	.navbar-brand  span{
		color:#fff;
	}
	/*dropdown*/
	.dropdown .dropdown-menu {
		display:none;
	}
	.dropdown:hover .dropdown-menu {
		display: block;
		-webkit-animation-name: fadeIn;
		-webkit-animation-duration: 0.4s;
		animation-name: fadeIn;
		animation-duration:  0.4s;
	}
	
		
}

/* Portrait tablets and medium desktops
----------------------------*/	
@media (min-width: 992px) and (max-width: 1199px) {
	
}
/* Portrait tablets and small desktops
----------------------------*/	
@media (min-width: 768px) and (max-width: 991px) {
}
/* Landscape phones and portrait tablets
----------------------------*/	
@media (max-width: 767px) {
	.navbar-brand {
		float: left;
		height: 50px;
	}
	.navbar-default .navbar-nav > li > a,.navbar-default .navbar-nav > .active > a {
		padding: 10px 20px;
		text-align: left;
		background:#eee;
		margin-bottom:0;
		margin-top:0;
		border-width:0 0 1px 0;
		border-color: #ccc;
		border-style:solid;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		color:#333;
		
	}
	.navbar-default .navbar-nav > .active > a , .navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus,.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li:hover {
		color:#333;
	}
	.navbar-default .navbar-nav > .active > a {
		color:#333;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #777;
		text-align: left;
		padding-top:10px;
		padding-bottom:10px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
	}
	.dropdown-menu > li:last-child a {
		margin-bottom: 0;
		border-bottom: 1px solid #eee;
	}
}

/* Landscape phones and smaller
----------------------------*/	
@media (max-width: 480px) {
	.navbar-brand {
		padding: 3px;
	}
}
